header{
    width: 100%;
    background-color: #04BFBF;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
html,body {     
    height: 100%;
    margin: 0px; 
    padding: 0px; 
    font-family: 'Raleway', sans-serif;
}

.header-link{
    text-decoration: none;
    color: white;
}
