.Landing{
    display: flex;
    align-items: center;
    text-align: center;
    height: 90vh;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.Landing-info{
    display: flex;
    flex-direction: column;
    text-align: left; 
    padding: 15px;
}
#laptop-image{
    width: 600px ;
    height: 400px;
}

@media(max-width: 800px){
    .Landing-info{
        text-align: center;
    }
    #laptop-image{
        width: 100%;
        height: 100%;
    }
}

