.Todos{
    display: block;
	margin: auto;
	width: 50%;
}
.todoList-body{
    display: grid;
    grid-template-columns: 70% 80px 80px 80px;
    justify-content: center;
    
}
.todoList-body li{
    list-style-type: none;
    grid-column-end: 2;
    justify-self: start;
    
}
.deleteBtn{
    width:20%;
    border: none;
    
}
.editBtn{
    width: 20%;
    border: none;
}
.Todo-update{
    text-align: center;
}

.updateBtn{
    border:none;
    outline: none;
}

.doneItem{
text-decoration: line-through;
}
.notDoneItem{
text-decoration: none;
}

@media (max-width: 600px){
    .Todos{
        width: 100%;
    }
    .todoList-body{
        display: block;  
    }
    
}