.app-addItem{
    display: block;
	margin: auto;
    width: 50%;
    text-align: center;
}
.appBody{    
    height: 95vh;
}
.appBody-titles{
    text-align: center;
}

.appBody-content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appBody-content h4{
    text-align: center;
}
.app-btn{
    width: 100px;
    height: 50px;
    margin-top: 1em;
    display: inline-block;
    padding: 0.7em 1.4em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    background-color:#04BFBF;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    font-size: 1em;
    outline: none;
}
.app-btn:hover:focus{
    outline: none;
}
.appBody-quote-div{
    text-align: center;
}
#mug_icon{
    color:rgba(4, 191, 191, 0.582);
}
.app-input{
    height: 50px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    width: 50%;
}

@media(max-width: 600px){
    .app-input{
        width: 100%;
        font-size: 12px;
    }
}